<?xml version="1.0"?>
<robot
  name="snap_male">
  <link
    name="snap_male">
    <inertial>
      <origin
        xyz="-2.0058E-18 -2.0817E-17 0.012891"
        rpy="0 0 0" />
      <mass
        value="0.0078" />
      <inertia
        ixx="8.7571E-06"
        ixy="-3.3914E-21"
        ixz="3.8806E-22"
        iyy="3.844E-06"
        iyz="5.739E-22"
        izz="1.1888E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://birl_baxter_description/urdf/snap/snap_male/meshes/snap_male.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://birl_baxter_description/urdf/snap/snap_male/meshes/snap_male.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_male_snap_joint" type="fixed">
      <origin rpy="${pi} 0 0" xyz="0 0 0.01"/>
      <parent link="left_female_holder" />
      <child link="snap_male"/>
  </joint>
    <gazebo reference="snap_male">    
      <self_collide>1</self_collide>
      <mu1>1000</mu1>
      <mu2>1000</mu2>
      <fdir1>0.0 0.0 1.0</fdir1>
      <kp>1e5</kp>
      <kd>1.0</kd>
  </gazebo>  
</robot>

