<?xml version="1.0"?>
<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py --inorder $(find birl_baxter_description)/urdf/baxter_element/baxter_pa/baxter_pa_box.urdf.xacro gazebo:=false" />
			
  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="true"/>
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <!-- Show in RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d '$(find birl_baxter_description)/launch/pa_demo_scene.rviz'"/>

</launch>
